*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Montserrat', sans-serif;
}

.visible-desktop{
  display: none;
}

.page-container{
  margin: 0 auto;
  width: 85%;
}

.page-container-home{
  text-align: center;
}

#dropshadow{
  background-color: #000;
  pointer-events: none;
  position: fixed;
    top: 0;
    bottom: 0;
  opacity: 0;
  transition: 0.5s;
  width: 100vw;
  z-index: 999;
}

.site-title{
  background-color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  padding: 1em 0 0 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1001;
}

.site-title a:link, .site-title a:visited, .site-title a:hover, .site-title a:active{
  color: inherit;
  text-decoration: none;
}

.site-title-small{
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  margin: 0 0 2em 1em;
  text-transform: uppercase;
}

.site-title-small a:link, .site-title-small a:visited, .site-title-small a:hover, .site-title-small a:active{
  color: inherit;
  text-decoration: none;
}

#hamburger-container{
  padding-top: 1.4em;
  background-color: #FFF;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

#burger{
  cursor: pointer;
}

.hamburger{
  font-size: 2em;
  margin-bottom: 0.3em;
  text-align: center;
}

.secret-hamburger{
  opacity: 0;
  margin-bottom: 1.7em;
}

.menu-hamburger-menu{
  margin: 0 auto 2em auto;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}

.menu-hamburger-menu ul{
  list-style: none;
}

.menu-hamburger-menu ul li{
  margin-bottom: 1.5em;
}

.menu-hamburger-menu ul li a{
  color: inherit;
  text-decoration: none;
}

#hamburger-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.service-thumbnail{
  height: auto;
  width: 100%;
}

.service-title{
  font-weight: 300;
  margin: 0.7em auto 3.5em auto;
  text-transform: uppercase;
  width: 100%;
}

.service-title a:link,.service-title a:visited, .service-title a:hover, .service-title a:active{
  color: inherit;
  text-decoration: none;
}

h6:nth-of-type(odd){
text-align: left!important;
}

h6:nth-of-type(even){
  text-align: right!important;
}

/* SINGLE */

.content-single{
  margin-bottom: 2em;
}

.title-single{
  font-weight: 400;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.text-single p{
  font-size: 0.8em;
  margin-bottom: 1em;
  text-align: left!important;
}

.service-image{
  margin-bottom: 1em;
  max-width: 100%;
}

/* ABOUT */

.profile-photo-container{
  text-align: center;
}

.profile-photo{
  border-radius: 50%;
  height: 70vw;
  margin: 0 auto 2em auto;
  object-fit: cover;
  overflow: hidden;
  width: 70vw;
}

.content-about p{
  font-size: 0.8em;
  margin-bottom: 0.7em;
  text-align: left!important;
}

/* CONTACT */

.top-of-page{
  margin-bottom: 2em;
}

.text-input{
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
  font-size: 1.1em;
  margin-bottom: 1em;
  padding: 0.4em;
  width: 100%;
}

.text-area-input{
  height: 8em;
}

@media only screen and (min-width: 700px){

  .visible-desktop{
    display: inherit;
  }

  .visible-mobile{
    display: none;
  }

  .page-container{
    max-width: 70%;
  }

  .site-title{
    font-size: 2em;
    flex: 1;
    text-align: left;
    margin: 0 0 1em 1em;
  }

  .site-title-small{
    font-size: 2em;
    margin: 0 0 1em 1em;
    padding: 0.7em 0 0 0;
    width: 50%;
  }

  .header-content{
    display: flex;
      justify-content: space-between;
      align-items: center;
    width: 100%;
    margin-bottom: 5em;
  }

  .hamburger{
    display: none;
  }

  #hamburger-container{
    flex: 1;
    background-color: transparent;
    position: static;
  }

  .menu-hamburger-menu{
    font-size: 1em;
    margin: 0;
    text-align: right;
    width: auto;
  }

  .menu-hamburger-menu ul{
    display: inline-flex;
      justify-content: flex-end;
    margin: 0 2.5em 0 0;
    padding: 0;
  }

  .menu-hamburger-menu ul li{
    margin-left: 2em;
  }

  #hamburger-content{
    max-height: none;
  }

  .service-thumbnail{
    max-height: 600px;
    max-width: 1000px;
  }

  .service-title{
    font-size: 0.9em;
    max-height: 600px;
    max-width: 1000px;
  }

  /* ABOUT */
  .profile-photo{
    height: 50vw;
    margin: 0 auto 4em auto;
    max-height: 400px;
    max-width: 400px;
    width: 50vw;
  }

  .content-about p{
    font-size: 1em;
  }

}


@media only screen and (min-width: 1200px){

  .page-container{
    max-width: 50%;
  }

  .service-thumbnail{
    max-height: 600px;
    max-width: 1000px;
  }

  .service-title{
    max-height: 600px;
    max-width: 1000px;
  }

  /* ABOUT */
  .profile-photo{
    height: 50vw;
    margin: 0 auto 4em auto;
    width: 50vw;
  }

  .content-about p{
    font-size: 1em;
  }

}
