*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Montserrat', sans-serif;
}

.container{
  margin: 0 auto;
  width: 90%;
}

.site-title{
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  margin: 1em 0;
  text-align: center;
  text-transform: uppercase;
}

.hamburger{
  font-size: 2em;
  text-align: center;
}

.menu-hamburger-menu{
  margin: 0 auto 3em auto;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}

.menu-hamburger-menu ul{
  list-style: none;
}

.menu-hamburger-menu ul li{
  margin-bottom: 1.5em;
}

.menu-hamburger-menu ul li a{
  color: inherit;
  text-decoration: none;
}
