*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Montserrat', sans-serif;
}

.container{
  margin: 0 auto;
  width: 90%;
}

.site-title{
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  margin: 1em 0;
  text-align: center;
  text-transform: uppercase;
}

.hamburger{
  font-size: 2em;
  text-align: center;
}
