*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Montserrat', sans-serif;
}

.container{
  margin: 0 auto;
  width: 85%;
}

#dropshadow{
  background-color: #000;
  pointer-events: none;
  position: fixed;
    top: 0;
    bottom: 0;
  opacity: 0;
  transition: 0.5s;
  width: 100vw;
  z-index: 999;
}

.site-title{
  background-color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  padding: 1em 0 0 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1001;
}

.site-title-small{
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  margin: 0 0 2em 1em;
  text-transform: uppercase;
}

.site-title-small a:link, .site-title-small a:visited, .site-title-small a:hover, .site-title-small a:active{
  color: inherit;
  text-decoration: none;
}

#hamburger-container{
  padding-top: 1.4em;
  background-color: #FFF;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.hamburger{
  font-size: 2em;
  margin-bottom: 0.3em;
  text-align: center;
}

.secret-hamburger{
  opacity: 0;
  margin-bottom: 1.7em;
}

.menu-hamburger-menu{
  margin: 0 auto 2em auto;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}

.menu-hamburger-menu ul{
  list-style: none;
}

.menu-hamburger-menu ul li{
  margin-bottom: 1.5em;
}

.menu-hamburger-menu ul li a{
  color: inherit;
  text-decoration: none;
}

#hamburger-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.service-thumbnail{
  height: auto;
  width: 100%;
}

.service-title{
  font-weight: 300;
  margin: 0.7em 0 3em 0;
  text-transform: uppercase;
}

.service-title a:link,.service-title a:visited, .service-title a:hover, .service-title a:active{
  color: inherit;
  text-decoration: none;
}

h6:nth-of-type(even){
  text-align: right;
}

/* SINGLE */

.title-single{
  font-weight: 400;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.content-single p{
  font-size: 0.8em;
  margin-bottom: 1em;
  text-align: left!important;
}

/* ABOUT */

.profile-photo-container{
  text-align: center;
}

.profile-photo{
  border-radius: 50%;
  height: 70vw;
  margin: 0 auto 2em auto;
  object-fit: cover;
  overflow: hidden;
  width: 70vw;
}

.content-about p{
  font-size: 0.8em;
  margin-bottom: 0.7em;
  text-align: left!important;
}
